nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5DC;
  color: black;
  padding: 20px;
}

nav div {
  font-size: 24px;
  margin-left: 24px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 24px;
  gap: 80px; /* Increased gap */
}

nav ul li {
  font-size: 33px;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.invisible-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
